<header>
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo">{{ site.title }}</a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    {% for collection_name, collection_config in site.collections.items() %}
                        <li><a href="/{{ collection_name }}/">{{ collection_config.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>